ngx-data-provider:
<ngx-data-provider key="theme" [data]="{ theme: 'dark' }">
  <ngx-data-consumer key="theme">
    <ng-template let-theme="theme">
      {{theme}}
    </ng-template>
  </ngx-data-consumer>
</ngx-data-provider>
<hr/> theme-provider:
<theme-provider>
  <ngx-data-consumer key="theme">
    <ng-template let-theme="theme">
      {{theme}}
    </ng-template>
  </ngx-data-consumer>
  <hr/>

  <theme-consumer>
    <ng-template let-theme="theme">
      {{theme}}
    </ng-template>
  </theme-consumer>
  <hr/>
  <themed-button></themed-button>
</theme-provider>